@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        height: auto;
    }

    .resume {
        width: 100%;
    }

    .resume-item {
        width: 100%;
    }

    .preface {
        padding: 30px;
    }

    .formation {
        flex-direction: column;
    }

    .formation li {
        margin-left: 0;
        margin-right: 0;
    }
}
