@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        height: auto;
    }

    .resume {
        overflow: inherit;
    }

    .formation {
        flex-direction: column;
    }

    .formation li {
        margin-left: 0;
        margin-right: 0;
    }
}
