@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        height: auto;
    }

    .profile {
        padding: 30px;
    }

    .resume {
        width: 100%;
    }

    .resume-item {
        width: 100%;
    }

    .section {
        padding: 30px;
    }

    .formation {
        flex-direction: column;
    }

    .formation li {
        margin-left: 0;
        margin-right: 0;
    }

    .lang {
        width: 30%;
    }
}
